    <h2 class="non lower">Files</h2>
    <table class="table table-striped">
        <tbody>
        <% @generic_file.data_files.each do |file| %>
        <tr class="collection attributes">
        	<%= render_datafile_download_icon file %>
        	<%= file.title %>
        </tr>
      <% end %>
      </tbody>
      </table>
