<% @generic_file.cartographics.each do |cart| %>
  <span itemprop="cartographics" itemscope itemtype="http://schema.org/Thing">
     <% cart.coordinates.each do |c| %>
      <span itemprop="name">Coordinates: <%= c %></span><br>
     <% end %>
     <% cart.scale.each do |c| %>
      <span itemprop="name">Scale: <%= c %></span><br>
     <% end %>
     <% cart.projection.each do |c| %>
      <span itemprop="name">Projection: <%= c %></span><br>
     <% end %>
  </span>
  <br />
<% end %>

