<% @generic_file.cartographics.each do |cart| %>
  <span itemprop="cartographics" itemscope itemtype="http://schema.org/Thing">
    <span itemprop="name"><%= cart.label %></span>
  </span>
  <br />
<% end %>

