<% @generic_file.title_principals.each do |tinfo| %>
  <span itemprop="title_principle" itemscope itemtype="http://schema.org/Title">
    <span itemprop="name"><%= tinfo.label %></span>
  </span>
  <br />
<% end %>

