<% @text = nil %>
<% if defined? label_text %>
<% @text = label_text%>
<% end %>

<% (@generic_file.related_host + [GenericFile.new]).each do |host| %>
	<%= f.simple_fields_for :related_host, host do |builder| %>
		<%= builder.input :id, as: :hidden %>
	<% end %>
<% end %>

<input type="text" readonly="true" id="related_host_label">

<span class="input-group-btn field-controls">
<button id="simple_overlay_open" class="btn btn-success add"><i class="icon-white glyphicon-add"></i><span>Find resource</span></button>
</span>
<div id="simple_overlay">
	<input id="search_related_host_input" type="text">
	<button id="search_related_host_button" class="btn btn-success add">Search</button>
	
	<ul id="results">
		
	</ul>
</div>
