@import 'karkinos/settings';

dl.file_edit {
 width:100%;
}
dl.file_edit dt {
 float:left;
 clear: left;
 min-width: 120px;
}
dl.file_edit dd {
}

table.file_edit_table {
	width: 100%;
}

h4.visibility span.label {
  font-size: 50%;
  vertical-align: middle;
}

#home_header {
	background-image: image-url('sedona.jpg');
}

#masthead {
  background: #283414;
}
#masthead_controls {
  background-color: #396F36;
  border-top: 1px solid #283414;
  border-bottom: 1px solid #283414;
}

#masthead_controls .navbar {
  background-color: #396F36;
}

#masthead_controls .navbar a:link, #masthead_controls .navbar a:visited {
  background-color: #396F36;
}

#masthead_controls .navbar li:first-child {
  border-left: 2px solid #283414;
} 
#masthead_controls .navbar li {
  border-right: 2px solid #283414;
}

#masthead_controls .navbar-default .navbar-nav > .active > a, #masthead_controls .navbar-default .navbar-nav > .active > a:hover, #masthead_controls .navbar-default .navbar-nav > .active > a:focus {
  background-color: #396F36;
}

#masthead_controls .navbar a:hover {
  background-color: #2B4F29;
}

#footer {
  background: #283414;
}

.dashboard .panel-default > .dashboard-panel {
  background-color: #9EBE9D;
}

.add, .btn-primary {
  background-color:$button-green;
  border-color: $button-dark-green;
}
.add:hover, .add:focus,
.add_file:hover, .add_file:focus,
.btn-primary:hover, .btn-primary:focus {
  background-color: $add-background-hover;
  border-color: $button-dark-green;
  color: $button-dark-green;
}

.btn-info {
  background-color: $button-green;
  border-color: $button-dark-green;
}
.btn-info:hover, .btn-info:focus {
  background-color: $view-select-background-hover;
  border-color: $button-dark-green;
  color: $button-dark-green;
}

/*
 * Add resource dialog
 */
.ui-dialog { z-index: 1000 !important ;}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: -8px; 
}

.choose_generic_file_dialog {
  font-size: 13px;
}

.add_file {
  background-color:$button-green;
  border-color: $button-dark-green;
  font-size: 13px;
  padding: 2px 10px;
  margin: 4px;
  border-radius: 4px;
}

.result-list {
  margin-top: 10px;
}

ul.linked_file_list {
    list-style: none;
    padding: 10px 0 0 0;
}

ul.linked_file_list li:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e144";
  padding-right: 10px;
  margin-left: 30px;
}

.loading {
  display:none;
  margin: 30% 50%;
  padding: 0;
  position:absolute;
  right: 3px;
  top: 3px;
  width: auto;
  z-index: 1001;
}

.loader {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
  border: 15px solid;
  border-radius: 50%;
  border-top-color: rgba(44,44,44,0);
  border-right-color: rgba(55,55,55,0);
  border-bottom-color: rgba(66,66,66,0);
  border-left-color: rgba(33,33,33,0);
  animation: loadEr 3s infinite;
}

@keyframes loadEr {
  0% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
    
  }
  10.4% {
    border-top-color: rgba(44,44,44,0.5);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  20.8% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
31.2% {
  border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0.5);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
}
41.6% {
  border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  transform: rotate(40deg);
}
52% {
  border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0.5);
    border-left-color: rgba(33,33,33,0);
}
62.4% {
  border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
}
72.8% {
  border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0.5);
}
}

.loaderbefore {
  width: 50px;
  height:50px;
  border: 15px solid #B0AFAF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  opacity: 0.95;
  z-index: 9;
}

.circular {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 70px;
  border: 20px solid;
  border-radius: 50%;
  border-top-color: #222;
  border-left-color: rgba(33,33,33,0);
  border-bottom-color: #222;
  border-right-color: rgba(33,33,33,0);
  opacity: 0.2;
  animation: poof 5s infinite;
}
@keyframes poof {
  0% {transform: scale(1,1) rotate(0deg); opacity: 0.2;}
  50% {transform: scale(4,4) rotate(360deg); opacity: 0;}
}
.another {
  opacity: 0.1;
  transform: rotate(90deg);
  animation: poofity 5s infinite;
  animation-delay: 1s;
}
@keyframes poofity {
  0% {transform: scale(1,1) rotate(90deg); opacity: 0.1;}
  50% {transform: scale(4,4) rotate(-360deg); opacity: 0;}
}

.text {
  position: absolute;
  top: 95px;
  left: 0px;
  font-family: Arial;
  color: #ddd;
  animation: opaa 10s infinite;
}
@keyframes opaa {
  0% {opacity: 1;}
10% {opacity: 0.5}
15% {opacity: 1;}
30% {opacity: 1;}
65% {opacity: 0.3;}
90% {opacity: 0.8;}
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000; 
  background-color: rgba(33, 33,33,0.5);
}