<%= simple_form_for [sufia, @form], html: { multipart: true } do |f| %>
<h2><%= f.object.use.to_s.humanize %></h2>
<% f.object.use_fields.each do |term| %>
   <%= render_edit_field_partial(term, f: f) %>
<% end %>
<% end %>
