<%= simple_form_for [sufia, @form], html: { multipart: true } do |f| %>
<% f.object.use_fields_map.each do |use, use_fields| %>
	<h2><%= use.to_s.humanize %></h2>
	<% use_fields.each do |term| %>
	   <%= render_edit_field_partial(term, f: f) %>
	<% end %>
<% end %>
<% end %>
